* { 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 14px;
}
fieldset {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 50px;
  border-radius: 15px;
}
legend {
  font-size: 16px;
}
fieldset label {
  float: left;
  margin: 0 10px;
}
fieldset label span {
  display: block;
  padding: 6px 20px;
  text-align: center;
  color: #80849A;
  border: 2px solid #80849A;
  border-radius: 3px;
  cursor: pointer;
}
fieldset label span.active {
  color: #fff;
  background-color: #80849A;
}
fieldset input {
  opacity: 0;
}
select {
  margin-left: 20px;
  padding-left: 8px;
  height: 35px;
  width: 120px;
}
.aqi-chart-wrap {
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 50px auto;
  box-shadow: 0 2px 5px 0 #cccbcb;
}