* { 
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
ol, ul, dl {
	list-style-type: none;
}
a {
  text-decoration: none;
}
body {
	font-family: "Helvetica Neue","Hiragino Sans GB",Arial,"微软雅黑",sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #000;
	background-color: #efefef;
}
section {
	width: 300px;
	margin: 100px auto;
	text-align: center;
}
section ul {
  width: 100px;
  margin: 20px auto;
}
section ul>li>a {
	display: block;
	margin: 10px;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
	-webkit-transition: bacground-color .5s;
	transition: background-color .5s;
}
section ul>li>a:hover {
	background-color: #f3f3f3;
}