.content {
	padding-top: @navbar-height - 1px;
	> * {
		padding: 80px 0 100px;
	}
}
.section1 {
	position: relative;
	min-height: @section1-min-height;
	padding-top: @section1-padding-top;
	.section1-bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		opacity: 1;
		background-color: #000;
		&:before {
			position: absolute;
	  	top: 0;
	  	left: 0;
			content: "";
			height: 100%;
			width: 100%;
			opacity: .8;
			background: @section1-bg;
		}
	}
	.container {
		max-width: @section1-container-width;
	}
	.intro {
		color: #fff;
		h1 {
			font-size: 60px;
			font-weight: normal;
		}
		p {
			margin-left: @section1-text-margin;
			font-size: 21px;
		}
		.intro-btn {
			float: left;
			margin-left: @section1-text-margin;
			margin-top: @section1-intro-margin-top;
			padding: @section1-intro-padding;
			color: #fff;
			font-size: 28px;
			letter-spacing: @section1-letter-spacing;
			background-color: @section1-btn-bg;
		}
	}
}


.section2 {
	padding: 60px 0;
	.section2-list{
		margin-bottom: @section2-item-marginbot;
    .icon {
    	height: 42px;
    	width: 42px;
    	margin: 0 auto @section2-icon-marginbot;
    }
    p {
    	width: @section2-item-percentage;
    	margin: 0 auto;
    	color: #777;
    	font-family: '黑体';
    	text-align: center;
    }
	}
	.item1 > .icon {
		background: @section2-icon1;
	}
	.item2 > .icon {
		background: @section2-icon2;
	}
	.item3 > .icon {
		background: @section2-icon3;
	}
	.item4 > .icon {
		background: @section2-icon4;
	}
}


.section3 {
	background-color: @section3-bg;
	.section3-content {

    .section3-icon {
    	height: 92px;
    	width: 102px;
    	margin: 0 auto 40px;
    	background: @section3-icon;
    }
    p {
    	color: #a1a1a1;
    	font-size: 54px;
    	text-align: center;
    }
	}
}