footer {
	.contact-us {
		padding: 80px;
		background-color: #32363e;
		color: #fff;
		text-align: center;
		h2 {
			margin-bottom: 10px;
	    font-size: @font-bigger;
	    font-family: '黑体';
		}
		p {
	    font-size: @font-smaller;
	    margin-bottom: 20px;
		}
	}
	
}