* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box; 
}
*:before,
*:after {
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box; 
}
html {
  font-size: 10px;
  font-family: sans-serif;
}
body {
  margin: 0;
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color;
  background-color: @bg-color;
}
a {
  color: @link-color;
  text-decoration: none;
  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
  }
}
ul, ol, dl {
  list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
input, select, textarea, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; 
}
.clearfix {
  .clearfix();
}
.btn {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}