header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 103;
	min-height: @navbar-height;
	border-bottom: 1px solid transparent;
	background-color: @navbar-bg;
}
.navbar {
	padding-top: @navbar-padding-top;
	&:extend(.clearfix all);
	.navbar-left {
	  float: left;
	}
	.navbar-brand {
		float: left;
		padding-left: 40px;
		line-height: 40px;
		font-size: @navbar-brand-fontsize;
		font-family: '黑体';
		background: @navbar-brand-url no-repeat center left;
	}
	.navbar-right {
		float: right;
		> ul {
			float: right;
			margin: @navbar-list-margin;
		  > li {
			float: left;
	  	}
		}
	}
	.nav-login {
		margin-left: @gutter-between-list!important;
		a {
			margin: @navbar-login-margin;
			padding: @navbar-login-padding;
			color: @link-hover-color;
			border-radius: @navbar-login-bradius;
			.transition(all; .3s; cubic-bezier(.4,0,.2,1));
		//	background: @navbar-login-url no-repeat center left;
		  &.signup {
        color: #fff;
        background-color: @navbar-login-color;
        border: 1px solid @navbar-login-color;
		  }
		  &.login{
        color: @navbar-login-color;
        border: 1px solid @navbar-login-color;
        &:hover {
        	color: #fff;
        	background-color: @navbar-login-color;
        }
		  }
		}
	}
	.nav-items {
		a {
			position: relative;
			margin: @navbar-items-margin;
			padding: @navbar-items-padding;
			.transition(all; .3s; ease);
			&.active {
				color: @link-hover-color;
				&:after {
					left: 0;
					width: 100%;
					opacity: 1;
					.translate(0; 0);
				}
			}
			&:hover {
				&:after {
					left: 0;
			    width: 100%;
			    opacity: 1;
			    .translate(0; 0);
				}
			}
			&:after {
        position: absolute;
        left: 50%;
        top: 44px;
        width: 0;
        height: 3px;
        background-color: darken(@link-hover-color, 5%);
        content: '';
        opacity: 0;
        .transition(all; .5s; ease);
        .translate(0; -10px);
			}
		}
	}
}