@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee




@text-color:   @gray-dark;
@bg-color:     #fff;



@link-color:            @gray-dark;
@link-hover-color:      #e74f4d;
@link-hover-decoration: none;



@font-family-base:      'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
@font-size-base:        14px;
@line-height-base:      1.428571429;



@screen-xs:            480px;
@screen-sm:            768px;
@screen-md:            992px;
@screen-lg:            1200px;
@grid-columns:         12;
@grid-gutter-width:    30px;
@container-sm:         (720px + @grid-gutter-width);
@container-md:         (940px + @grid-gutter-width);
@container-lg:         (1140px + @grid-gutter-width);





@padding-base-vertical:     6px;
@padding-base-horizontal:   12px;

@padding-large-vertical:    10px;
@padding-large-horizontal:  16px;

@padding-small-vertical:    5px;
@padding-small-horizontal:  10px;

@padding-xs-vertical:       1px;
@padding-xs-horizontal:     5px;








@navbar-height:           60px;


@navbar-list-margin:      10px 0;
@gutter-between-list:     30px;
@navbar-padding-top:      10px;
@navbar-items-padding:    6px 10px;
@navbar-items-margin:     0 10px;
@navbar-login-padding:    6px 20px;
@navbar-login-margin:     0 10px;
@navbar-login-bradius:    3px;
@navbar-brand-fontsize:   @font-size-base * 1.5;

@navbar-brand-url:        url(../images/logo_sm.png);
@navbar-login-url:        url(../images/icon_login.png);

@navbar-bg:               #fff;
@navbar-login-color:      lighten(@link-hover-color, 10%);

@section1-container-width:  85%;
@section1-bg:               url(../images/section1_bg.jpg) no-repeat;
@section1-min-height:       650px;
@section1-padding-top:      200px;
@section1-btn-bg:           @link-hover-color;
@section1-intro-padding:    6px 90px 8px;
@section1-intro-margin-top: 50px;
@section1-letter-spacing:   4px;
@section1-text-margin:      10px;


@section2-icon1:            url(../images/section2_icon1.jpg) no-repeat center;
@section2-icon2:            url(../images/section2_icon2.jpg) no-repeat center;
@section2-icon3:            url(../images/section2_icon3.jpg) no-repeat center;
@section2-icon4:            url(../images/section2_icon4.jpg) no-repeat center;
@section2-item-marginbot:   20px;
@section2-item-percentage:  70%;
@section2-icon-marginbot:   40px;



@section3-bg:               #edecec;
@section3-icon:             url(../images/logo.png) no-repeat center;