/* global */
* { 
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
ol, ul, dl {
	list-style-type: none;
}
a {
  text-decoration: none;
}
body {
	font-family: "Helvetica Neue","Hiragino Sans GB",Arial,"微软雅黑",sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #000;
	background-color: #BDBDBD;
}

/* clearfix */
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	visibility: hidden; 
	clear: both; 
}
.clearfix { 
	*zoom: 1; 
}


/* header */
header {
	position: relative;
	min-height: 50px;
	background-color: #333;
}
header nav>a{
	float: left;
	margin-left: 20px;
	padding: 10px;
}
header img {
	display: block; /*img默认是inline元素,下边缘与基线对齐,由于默认设置的line-height使得img下边缘和a容器有缝隙。1.display: block;2.line-height: 0;3.img, a {vertical-align: top;}*/
	height: 50px;
	width: 50px;
}
header ul {
	float: right;
}
header ul>li {
	float: left;
}
header ul>li>a {
	position: relative;
	display: block;
	margin: 10px;
	padding: 15px 0px;
	color: #fff;
}
header ul>li>a:after {
	position: absolute;
	left: 50%;
	top: 60px;
	width: 0;
	height: 2px;
	background-color: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
header ul>li>a:hover:after {
	left: 0;
	width: 100%;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}


/* article */
article {
	margin: 20px;
	padding: 20px;
	background-color: #fff;
}
article h2 {
	padding: 5px 0px;
}
article h3 {
	padding: 10px 0px;
	color: #666;
}
article .articleInfo {
	color: #999;
	font-size: 12px;
}
article p {
	padding: 10px 0px;
	text-indent: 2em;
}
article .imgBox {
	position: relative;
	left: 0;
	margin: 10px;
	width: 300px;
	line-height: 0;
	overflow: hidden;
	box-shadow: 0 2px 5px 0 #CCCBCB;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
article .imgBox:hover {
	left: 10px;
	box-shadow: 0 2px 8px 4px #E9E9E9;
}
article .imgBox img {
	width: 100%;
	-webkit-transition: all 1s;
	transition: all 1s;
	-webkit-transform: scale(1.00001);
	transform: scale(1.00001);
}
article .imgBox:hover img {
	opacity: 0.8;
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}