* { 
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue","Hiragino Sans GB",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
ul {
  list-style-type: none;
}
.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  visibility: hidden; 
  clear: both; 
}
.clearfix { 
  *zoom: 1; 
}
.container {
  margin: 20px;
  padding: 20px;
  background:
  linear-gradient(#4EFF4E,transparent),
  linear-gradient(90deg,#BBECFF,transparent),
  linear-gradient(-90deg,#FFB59A,transparent);
  background-blend-mode: screen;
}
.left {
  float: left;
  width: 200px;
  margin-right: 20px; /*比起对center设置margin更方便 center设置margin需计算左右宽度*/
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 0 .4em #B1A4A4;
  outline: .6em solid #B1A4A4;
  border-radius: .8em;
}
.left img {
  float: left;
  width: 60%;
}
.left span {
  float: right;
}
.right {
  float: right;
  width: 120px;
  margin-left: 20px;
  padding: 0 20px;
  background-color: #fff;
}
.right li {
  margin: 20px 0;
}
.right img {
  display: block;
  width: 80px;
}
.center {  
  overflow: hidden;
  padding: 20px;
  background-color: #fff;
}
.center h2 {
  text-align: center;
}
.center p {
  text-indent: 2em;
}